#root {
    width: 100%;
    height: 100%;
    background-color: #f8f4f7;
  }
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .header{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 100px;
  }
  .panel {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-top: 10px;
    padding: 40px 20px;
    gap: 20px;
    width: 350px;
    border-radius: 8px;
  }
  .form-login {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .logo-container {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 40px 20px;
    width: 350px;
    gap: 10px;
    align-items: center;
  }
  .logo {
    width: 78.752px;
    height: 44.744px;
  }
  .appName {
    width: 177px;
    height: 41;
  }
  